html, body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
@media screen and (max-width: 480px){
    body{
        background-image:url(../image/welcomephone.png);
        position:absolute; 
        width: 100%; 
        height: 100%; 
        background-color: #222121; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: 50% 50%; 
    }
 }
@media screen and (min-width: 481px){
    body{
        background-image:url(../image/welcomecomputer.png);
        position:absolute; 
        width: 100%; 
        height: 100%; 
        background-color: #222121; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: 50% 50%; 
    }
 }



/* ローディング画面 */
#field {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background:#c3d825;
    text-align:center;
    color:#fff;
}
#field_text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
}
#container{
    width:100%;
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* particle.js */ 
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #222121; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
}  
.count-particles{ 
    background: #000022; 
    position: absolute; 
    top: 48px; 
    left: 0; 
    width: 80px; 
    color: #13E8E9; 
    font-size: .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
} 
.js-count-particles{ 
    font-size: 1.1em; 
} 
#stats, .count-particles{
    -webkit-user-select: none; 
    margin-top: 5px; margin-left: 5px; 
} 
#stats{ 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 
.count-particles{ 
    border-radius: 0 0 3px 3px; 
}

/* welcomeボタン */
.btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
   	border: 1px solid #c3d825;/* ボーダーの色と太さ */
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/   
    transition: ease .2s;
    margin: 10px;
    width: 100px;
}
.btn span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color:#c3d825;
}
.btn:hover span{
	color:#fff;
}
/*== 背景が流れる（左から右） */
.welcome:before {
 	content: '';
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: 2;
    /*色や形状*/
 	background:#c3d8257e;/*背景色*/
 	width: 100%;
	height: 100%;
    /*アニメーション*/
 	transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
 	transform: scale(0, 1);
	transform-origin: right top;
}
.welcome:hover:before{
	transform-origin:left top;
	transform:scale(1, 1);
}
